<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<table border="2">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    <tr th:each="user : ${userList}">

        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <a th:href="@{'/edit/' + ${user.id}}">Edit</a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{'/delete/' + ${user.id}}">Delete</a>
        </td>
    </tr>
    <tr>
        <a th:href="@{'/add'}">Add New User</a>
    </tr>
</table>
</body>
</html>